{% extends 'main/layout.html' %}

{% block title %}Form for adding an Article{% endblock %}

{% block content %}
<div class="features">
    <h1>Form for adding an Article</h1>
    <form method="post">
        <input type="text" placeholder="name of article" class="form-control">
        <input type="text" placeholder="Anons..." class="form-control">
        <textarea class="form-control" placeholder="Your text..."> </textarea>
        <input type="data" class="form-control"><br>
        <input type="time" class="form-control"><br>
    </form>
</div>
{% endblock %}
