{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="features">
    <h1>{{ title }}</h1>
    <p>Programmer. White Hat Hacker. Billionaire… but still a student with big dreams.</p>
    <button class="btn btn-warning">About Me</button>

    <br>

   <div class="youtube-video">
    <iframe width="560" height="315"
    src="https://www.youtube.com/embed/ksEbft5pRSk"
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
</div>
    <br>
{#{% for el in values %}#}
{#<p>{{ el }}</p>#}
{#{% endfor %}#}
</div>
{% endblock %}
